html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0 auto;
  min-width: 1920px;
  font-family: sans-serif;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  max-width: 1800px;
}

/* header */

.header {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__container {
  padding: 0px 0;
  margin: 0 auto;
  width: 1760px;
}

.header__logo {
  padding-top: 5px;
  margin-right: auto;
}

.header__nav {
  align-items: center;
}

.nav-first {
  margin-right: 559px;
}

.nav-first__item:not(:last-child) {
  margin-right: 60px;
}

.nav-second {
  margin-right: 43px;
  color: #8b8b8b;
}

.nav-second__item:not(:last-child) {
  margin-right: 40px;
  color: #8b8b8b;
}
.nav-first__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.nav-second__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.button__container {
  align-items: center;
}

.header__btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #141414;
  padding: 14px 34px;
  border: 1px solid #141414;
  border-radius: 100px;
  transition: background-color 0.3s ease-in-out;
}

.header__btn:hover {
  background-color: orange;
}

.header__btn:active {
  background-color: green;
}

.main {
  position: relative;
  z-index: 1;
}

/* section-template*/

.section-template {
  margin: 0 auto;
  width: 1920px;
  height: 1080px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 0;
  background: no-repeat 21.65% 56.37% url(/assets/img/patch.svg), no-repeat 46.45% 17.9% url(/assets/img/Ellipse\ 3.svg),
    no-repeat 7.5% 69.1% url(/assets/img/krestik.svg), no-repeat 90.6% 85% url(/assets/img/Line\ 62.svg),
    linear-gradient(90deg, #e3fdf5 0%, #ffe6fa 100%);
}

.section-template__container {
  padding: 0px 0;
  margin: 0 auto;
  width: 1350px;
}

.section-template__context {
  position: relative;
}

.section-template__main {
  padding-top: 289px;
  padding-left: 26px;
  position: relative;
}
.section-template__template {
  margin-top: 15px;
  padding-bottom: 43.5px;
}

.section-template__template-text {
  font-family: "Gotham Pro Medium";
  font-weight: 600;
  font-size: 96px;
  line-height: 92px;
  text-align: left;
  width: 626px;
}

.section-template__upper {
  margin-left: 6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 11px 15px 10px;
  width: 242px;
  height: 41px;
  background: #645cc3;
  border-radius: 23px 30px 30px 0px;
}

.section-template__uppertext {
  width: 212px;
  height: 20px;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  color: #ffffff;
}

.section-template__logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  max-width: 640px;
  margin-left: 38.5px;
  padding-top: 225px;
}

.section-template__logo-upper {
  position: absolute;
  width: 160px;
  height: 160px;
  left: 1140px;
  top: 202px;
  /* White */
  background: #ffffff;
  box-shadow: 8px 25px 90px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
}

.section-template__logo-upppertext {
  position: absolute;
  width: 81px;
  height: 80px;
  left: 38px;
  top: 38.5px;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 550;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #141414;
}

.section-template__template-posblock {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;
  padding-bottom: 147.5px;
}

.section-template__template-pos1 {
  padding: 16px 25px 16px 20px;
  gap: 10px;
  width: 133px;
  height: 52px;
  background: #ffffff;
  border-radius: 100px;
}

.section-template__template-pos2 {
  padding: 16px 25px 16px 20px;
  gap: 10px;

  width: 151px;
  height: 52px;
  background: #ffffff;
  border-radius: 100px;
}

.section-template__template-postext {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-left: 29px;
  text-align: center;
  color: #141414;
  background: no-repeat -1% 1px url(/assets/img/location.svg);
}

.section-template__underblock {
  padding-left: 4px;
  left: 29.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.section-template__under {
  width: 198px;
  height: 64px;
}

.section-template__undericon {
  padding-bottom: 15px;
}

.section-template__undertext {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #141414;
}

/* section-secnond */

.section-second {
  margin: 0 auto;
  width: 1920px;
  height: 1080px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background: no-repeat 43.1% 76% url(/assets/img/path_second.svg),
    no-repeat 84.3% 17.4% url(/assets/img/Cricle_second.svg),
    no-repeat 89.55% 83.8% url(/assets/img/Krestik_second.svg) #645cc3;
}

.section-second__conainer {
  padding: 0px 0;
  margin: 0 auto;
  width: 1400px;
}
.section-second__context {
  position: relative;
}

.section-second__steve {
  padding-top: 54px;
}
.section-second__main{
  padding-top: 282.5px;
  padding-left: 10px;
  padding-bottom: 189.5px;
  padding-right: 87px;
}

.section-second__template{

}
.section-second__template-enjoy{
padding-bottom: 187px;
}

.section-second__template-enjoy-text {
  position: absolute;
  width: 590px;
  height: 162px;
  top: 458px;
  left: 252px;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 54px;
  color: #ffffff;
}

.section-second__logo {
  padding-top: 225px;
}

.section-second__circle {
  background: #ffffff;
  width: 175px;
  height: 175px;
  border-radius: 90px;
}

.section-second__circle-text {
  padding-top: 63px;
  padding-left: 25px;
  width: 150px;
  text-align: center;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 650;
  font-size: 16px;
  line-height: 24px;
  color: #141414;
}

/* section-cost */

.section-cost {
  margin: 0 auto;
  padding: 0px 0;
  width: 1920px;
  height: 1045px;
  background: no-repeat 50% 32.5% url(/assets/img/slider_fake.svg), #f7f7f8;
}

.section-cost__container {
  padding: 0px 0;
  margin: 0 auto;
  width: 1450px;
}

.section-cost__main {
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}

.section-cost__template {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 38px;
  padding-left: 80px;
  padding-top: 118px;
}

.section-cost__kits {
  padding-top: 92px;
  padding-left: 147px;
}

.section-cost__kits-kit1 {
  padding-right: 157px;
}

.section-cost__kits-kit2 {
  padding-right: 161px;
}

.section-cost__kits-kit-text {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  padding-top: 5px;
  padding-left: 24px;
}

.section-cost__kits-kit-undertext {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-left: 26px;
  padding-top: 4px;
  color: #8b8b8b;
}

.section-cost__list {
  padding-top: 113px;
  gap: 30px;
}

.section-cost__item {
  padding-top: 91px;
  height: 400px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 33px;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.08);
  border-radius: 24px;
}

.section-cost__item:first-child {
  padding-top: 90.5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 31px;
  height: 400px;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.08);
  border-radius: 24px;
  background-image: url(/assets/img/EnjVPod.svg);
  background-repeat: no-repeat;
  background-position: top right;
}

.section-cost__item-sale {
  padding-top: 91px;
  height: 400px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 33px;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.08);
  border-radius: 24px;
  background-image: url(/assets/img/30sale.svg);
  background-repeat: no-repeat;
  background-position: top right;
}

.section-cost__item-title {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 24px;
  text-align: center;
  color: #645cc3;
}

.section-cost__cost1 {
  font-family: "Gotham Pro Medium";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #645cc3;
}

.section-cost__cost2 {
  font-family: "Gotham Pro Medium";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #645cc3;
}

.section-cost__descr1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #645cc3;
  opacity: 0.5;
  padding-right: 16px;
}

.section-cost__descr2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #645cc3;
  opacity: 0.5;
}

.section-cost__middle {
  padding: 14px 25px 10px 31px;
  margin-bottom: 26px;
  background: #f7f5ff;
  border-radius: 100px;
}

.section-cost__middle-left {
  padding-right: 23.5px;
}

.section-cost__bottom-list-item {
  padding-left: 32px;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-image: url("assets/img/Vector.svg");
  background-repeat: no-repeat;
  background-position: 0.7% 67%;
}
.section-cost__bottom-list-item:last-child {
  background-position: 0.7% 23%;
}

.section-cost__bottom-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.section-cost__button {
  padding-top: 80px;
  padding-left: 575px;
}

.section-cost__button-text {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background: #645cc3;
  width: 300px;
  height: 60px;
  border-radius: 30px;
  /* White */

  color: #ffffff;
}
.section-cost__nav-button {
  padding-left: 445px;
  padding-top: 75px;
}
.section-cost__nav-button1 {
  background-color: #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 90px;
  background-image: url(/assets/img/prev.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.section-cost__nav-button2 {
  background-color: #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 90px;
  background-image: url(/assets/img/Next.svg);
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: 5.5px;
}

.section-cost__context {
  justify-content: center;
}

/*section-promotions*/ 

.section-promotions {
  margin: 0 auto;
  padding: 0px 0;
  width: 1920px;
  height: 904px;
  background: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.section-promotions__container {
  padding: 0px 0;
  margin: 0 auto;
  width: 1290px;
}

.section-promotions__template {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 32px;
  color: #141414;
  padding-left: 258px;
  padding-top: 279px;
  padding-bottom: 63px;
}

.section-promotions__context {
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}

.section-promotions__list {
  padding-left: 255px;
  gap: 30px;
  padding-bottom: 30px;
}

.section-promotions__list-item-first {
  height: 190px;
  width: 410px;
  flex-direction: column;
  background:no-repeat 8% 15% url(/assets/img/Done_ring_round_light.svg), #f7f7f8;
  border-radius: 12px;
  padding-top: 117px;
}

.section-promotions__list-item-second {
  height: 190px;
  width: 410px;
  flex-direction: column;
  background: no-repeat 8% 15% url(assets/img/calendar-tick.svg),linear-gradient(90deg, #645CC3 0%, rgba(100, 92, 195, 0.75) 100%);
  border-radius: 12px;
  padding-top: 117px;
}

.section-promotions__list-item-third {
  height: 190px;
  width: 410px;
  flex-direction: column;
  background: no-repeat 8% 15% url(assets/img/mobile.svg),linear-gradient(90deg, #FFC600 0%, rgba(255, 198, 0, 0.5) 100%);
  border-radius: 12px;
  padding-top: 117px;
}

.section-promotions__list-item-text-blk{
  max-width: 400px;
  padding-left: 30px;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #141414;
}

.section-promotions__list-second {
  padding-left: 255px;
  gap: 30px;
}

.section-promotions__list-item-second-first {
  height: 190px;
  width: 410px;
  flex-direction: column;
  background:no-repeat 8% 15% url(/assets/img/monitor.svg), linear-gradient(90deg, #FB4516 0%, rgba(251, 69, 22, 0.75) 100%);;
  border-radius: 12px;
  padding-top: 69px;
}

.section-promotions__list-item-second-second {
  height: 190px;
  width: 410px;
  flex-direction: column;
  background: no-repeat 8% 15% url(assets/img/medal.svg),linear-gradient(90deg, #5CD8B4 0%, rgba(92, 216, 180, 0.75) 100%);
  border-radius: 12px;
  padding-top: 141px;
}

.section-promotions__list-item-second-third {
  height: 190px;
  width: 410px;
  flex-direction: column;
  background: no-repeat 8% 15% url(assets/img/discount-circle.svg),linear-gradient(90deg, #D35CDE 0%, #FF7BC4 100%);
  border-radius: 12px;
  padding-top: 141px;
}

.section-promotions__list-item-text-wht{
  max-width: 350px;
  padding-left: 30px;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.section-promotions__list-item-text-wht-second{
  max-width: 400px;
  padding-left: 30px;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

/*section-study*/

.section-study{
  margin: 0 auto;
  padding: 0px 0;
  width: 1920px;
  height: 948px;
  background:no-repeat 18.5% 18.5% url(/assets/img/VectorBG.svg),#F7F7F8;
}

.section-study__container {
  padding: 0px 0;
  margin: 0 auto;
  width: 1290px;
}

.section-study__context{
  padding-top: 115px;
}

.section-study__template{
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 61px;
color: #141414;
padding-bottom: 32px;
}

.section-study__template-descr{
  font-family: 'Gotham Pro';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 32px;
color: #141414;
padding-bottom: 63px;
}

.section-study__list{
  gap: 30px;
  padding-bottom: 120px;
}

.section-study__list-item-first{
  width: 300px;
  height: 350px;
  background:no-repeat 11.3% 9.5% url(/assets/img/circle.svg), #ffffff;
  border-radius: 12px;
  padding-top: 171px;
  padding-left: 30px;
}

.section-study__list-item-second{
  width: 300px;
  height: 350px;
  background:no-repeat 11.3% 9.5% url(/assets/img/triangle.svg), #ffffff;
  border-radius: 12px;
  padding-top: 191px;
  padding-left: 30px;
}

.section-study__list-item-third{
  width: 300px;
  height: 350px;
  background:no-repeat 11.3% 9.5% url(/assets/img/rectangle.svg), #ffffff;
  border-radius: 12px;
  padding-top: 191px;
  padding-left: 30px;
}

.section-study__list-item-fourth{
  width: 300px;
  height: 350px;
  background:no-repeat 11.3% 9.5% url(/assets/img/square.svg), #ffffff;
  border-radius: 12px;
  padding-top: 219px;
  padding-left: 30px;
}

.section-study__list-item--template--foruth{
  padding-bottom: 12px;
  width: 230px;
font-family: 'Gotham Pro';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
}

.section-study__list-item--template{
  padding-bottom: 68px;
  width: 230px;
  height: 56px;

font-family: 'Gotham Pro';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
}
.section-study__list-item--decr{
  width: 240px;
height: 80px;

font-family: 'Gotham Pro';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #141414;
}

.section-study__banner{
  position: relative;
  background: linear-gradient(85.79deg, #FFC600 0%, #FFDD66 100%);
border-radius: 24px;
width: 1290px;
height: 350px;
}

.section-study__banner-plane{
  position: absolute;
  top:28px;
  left:-276px;
}

.section-study__banner-main{
padding-top: 66px;
padding-left: 418px;
}

.section-study__banner-weather{
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #141414;
  background: no-repeat 0% 0% url(/assets/img/SunDim.svg);
  padding-left: 42px;
  padding-top: 3px;
  margin-bottom: 13.5px;
}

.section-study__banner-template{
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #141414;
  width: 550px;
  padding-bottom: 33px;
}

.section-study__banner-button-text{
  font-family: 'Gotham Pro';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #141414;
width: 297px;
height: 56px;
background: no-repeat 6% 50% url(/assets/img/play.svg),#FFFFFF;
box-shadow: 8px 25px 90px rgba(0, 0, 0, 0.1);
border-radius: 100px;
text-align: center;
padding-bottom: 2px;
padding-left: 27.5px;
margin-right: 8px;
}

.section-study__banner-button-text-second{
  padding: 16px 30px;
gap: 10px;
width: 154px;
height: 56px;
border: 1px solid #141414;
border-radius: 100px;
font-family: 'Gotham Pro';
font-style: normal;
font-weight: 600;
}

.section-ending{
  margin: 0 auto;
  padding: 0px 0;
  width: 1920px;
  height: 797px;
  background: no-repeat 9.9% 32.7% url(/assets/img/Ellipse\ ending.svg),no-repeat 57.35% 66.9% url(/assets/img/Saly-26.png), linear-gradient(90deg, #645CC3 0%, rgba(100, 92, 195, 0.75) 100%);
}

.section-ending__container{
  padding: 0px 0;
  margin: 0 auto;
  width: 1177px;
}

.section-ending__context{
padding-top: 294px;
}

.section-ending__main{
padding-right: 252px;
}

.section-ending__template{
  font-family: 'Gotham Pro';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;
color: #ffffff;
width: 500px;
padding-bottom: 42px;
padding-left: 24px;
}

.section-ending__list-template{
  font-family: 'Gotham Pro';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
color: #ffffff;
padding-bottom: 9px;
padding-left: 24px;
}

.section-ending__list-item{
  font-family: 'Gotham Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
padding-bottom: 12px;
}

.section-ending__form{
  width: 400px;
  height: 342px;
background: #FFFFFF;
box-shadow: 8px 25px 90px rgba(0, 0, 0, 0.1);
border-radius: 12px;
padding-top: 30px;
padding-left: 42px;
}

.section-ending__form-template{
  font-family: 'Gotham Pro';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
color: #141414;
width: 300px;
padding-bottom: 30px;
}

.section-ending__form-name{
  width: 320px;
height: 48px;
background: #F7F7F8;
border-radius: 100px;
border: 0;
padding-left: 23.5px;
font-family: 'Gotham Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
margin-bottom: 12px;
}
section-ending__formname:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.section-ending__form-number{
    width: 320px;
height: 48px;
background: #F7F7F8;
border-radius: 100px;
border: 0;
padding-left: 23.5px;
font-family: 'Gotham Pro';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
margin-bottom: 31px;
}

.scetion-ending__form-btn{
  font-family: 'Gotham Pro';
font-style: normal;
width: 319.5px;
height: 48px;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #FFFFFF;
  background: #645CC3;
border-radius: 100px;
}